<script>
  

  import MDBCard from 'mdbsvelte/src/MDBCard.svelte';
  import MDBCardBody from 'mdbsvelte/src/MDBCardBody.svelte';
  import MDBRow from 'mdbsvelte/src/MDBRow.svelte'
  import MDBCol from 'mdbsvelte/src/MDBCol.svelte'
  import MDBTable from 'mdbsvelte/src/MDBTable.svelte'
  import MDBTableHead from 'mdbsvelte/src/MDBTableHead.svelte'
  import MDBTableBody from 'mdbsvelte/src/MDBTableBody.svelte'
  import MDBView from 'mdbsvelte/src/MDBView.svelte'
  import MDBBtn from 'mdbsvelte/src/MDBBtn.svelte'
  import MDBModal from 'mdbsvelte/src/MDBModal.svelte'
  import MDBModalBody from 'mdbsvelte/src/MDBModalBody.svelte'
  import MDBModalHeader from 'mdbsvelte/src/MDBModalHeader.svelte'
  import MDBInput from 'mdbsvelte/src/MDBInput.svelte'
  import MDBNavLink from 'mdbsvelte/src/MDBNavLink.svelte';
  import {Navigate} from 'svelte-router-spa';
  import MDBDropdown from 'mdbsvelte/src/MDBDropdown.svelte'
  import MDBDropdownItem from 'mdbsvelte/src/MDBDropdownItem.svelte'
  import MDBDropdownMenu from 'mdbsvelte/src/MDBDropdownMenu.svelte'
  import MDBDropdownToggle from 'mdbsvelte/src/MDBDropdownToggle.svelte'

  import { onMount } from 'svelte';
	import Select from './Select.svelte';
    import Detail from './detail.svelte';
	let formData = {};
	
	onMount(() => {
		
		formData.kategori = "Pilih Kategori";
		
	});


  let state = {
    modal1: false,
    modal2: false,
    modal3: false,
    modal4: false,
    modal5: false,
    modal6: false,
    modal7: false,
    modal8: false,
    modal9: false,
    modal10: false,
    modal11: false,
    modal12: false,
    modal13: false
  };

  function toggle(nr) {
    let modalName = 'modal' + nr;
    state[modalName] = !state[modalName]
  }

  let files;

	$: if (files) {
		for (const file of files) {
			console.log(`${file.name}: ${file.size} bytes`);
		}
	}

</script>

<MDBRow>
  <MDBCol md="12">
    <MDBCard class="mt-5">
      <MDBView class="gradient-card-header blue darken-2">
        <h1 class="h4-responsive text-white">Halaman Detail</h1>
      </MDBView>
      <MDBCardBody>
        <!-- <MDBBtn color="primary">Tambah Keluhan</MDBBtn> -->
        
        
        <MDBBtn color="primary" size="lg" on:click={()=>toggle(9)}>Detail Komplain </MDBBtn>
        <MDBModal toggle={()=>toggle(9)} isOpen={state.modal9}>
          <MDBModalHeader>Detail Komplain</MDBModalHeader>
          <MDBModalBody class="text-left">
            <div class="grey-text">
              <span>AC mati di lantai 3, ruangan Patenggang</span>          
            </div>
            
            <MDBBtn color="secondary" on:click={()=>toggle(9)}>Cancel</MDBBtn>
          </MDBModalBody>
        </MDBModal>
      </MDBCardBody>
    </MDBCard>
  </MDBCol>
</MDBRow>
