<script>
  export let segment;
  import MDBCard from 'mdbsvelte/src/MDBCard.svelte';
  import MDBCardBody from 'mdbsvelte/src/MDBCardBody.svelte';
  import MDBRow from 'mdbsvelte/src/MDBRow.svelte'
  import MDBCol from 'mdbsvelte/src/MDBCol.svelte'
  import MDBTable from 'mdbsvelte/src/MDBTable.svelte'
  import MDBTableHead from 'mdbsvelte/src/MDBTableHead.svelte'
  import MDBTableBody from 'mdbsvelte/src/MDBTableBody.svelte'
  import MDBView from 'mdbsvelte/src/MDBView.svelte'
  import MDBBtn from 'mdbsvelte/src/MDBBtn.svelte'
  import MDBModal from 'mdbsvelte/src/MDBModal.svelte'
  import MDBModalBody from 'mdbsvelte/src/MDBModalBody.svelte'
  import MDBModalHeader from 'mdbsvelte/src/MDBModalHeader.svelte'
  import MDBInput from 'mdbsvelte/src/MDBInput.svelte'
  import MDBNavLink from 'mdbsvelte/src/MDBNavLink.svelte';
  import {Navigate} from 'svelte-router-spa';
  import MDBDropdown from 'mdbsvelte/src/MDBDropdown.svelte'
  import MDBDropdownItem from 'mdbsvelte/src/MDBDropdownItem.svelte'
  import MDBDropdownMenu from 'mdbsvelte/src/MDBDropdownMenu.svelte'
  import MDBDropdownToggle from 'mdbsvelte/src/MDBDropdownToggle.svelte'

  import { onMount } from 'svelte';
	import Select from './Select.svelte';
    import Detail from './detail.svelte';
	let formData = {};
	
	onMount(() => {
		
		formData.kategori = "Pilih Kategori";
		
	});


  let state = {
    modal1: false,
    modal2: false,
    modal3: false,
    modal4: false,
    modal5: false,
    modal6: false,
    modal7: false,
    modal8: false,
    modal9: false,
    modal10: false,
    modal11: false,
    modal12: false,
    modal13: false
  };

  function toggle(nr) {
    let modalName = 'modal' + nr;
    state[modalName] = !state[modalName]
  }

  let files;

	$: if (files) {
		for (const file of files) {
			console.log(`${file.name}: ${file.size} bytes`);
		}
	}

</script>

<MDBRow>
  <MDBCol md="12">
    <MDBCard class="mt-5">
      <MDBView class="gradient-card-header blue darken-2">
        <h4 class="h4-responsive text-white">Daftar Tiket</h4>
      </MDBView>
      <MDBCardBody>
        <MDBTable responsive>
          <MDBTableHead color="warning-color">
            <tr>
              <th>No. Tiket</th>
              <th>Report by</th>
              <th>Tujuan</th>
              <th>Subject</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </MDBTableHead>
          <MDBTableBody>
            <tr>
              <td>1</td>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>
                
                <MDBModalBody>
                  <div>
                    <Select id="1" name="kategori" bind:value={formData.a}>
                      <option value="Request">Request</option>
                      <option value="On Progress">On Progress</option>
                      <option value="Done">Done</option>
                    </Select>
                  </div>
                </MDBModalBody>
              </td>
              <td>
                <MDBNavLink
                active={segment === 'detail'}
                activeClassName="activeClass">
                <Navigate to="detail">
                  <button>Detail</button>
                </Navigate>
              </MDBNavLink>
              </td>

            </tr>
            <tr>
              <td>2</td>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
              <td>
                <MDBModalBody>
                  <div>
                    <Select id="2" name="kategori" bind:value={formData.b}>
                      <option value="Request">Request</option>
                      <option value="On Progress">On Progress</option>
                      <option value="Done" >Done</option>
                    </Select>
                  </div>
                </MDBModalBody>
              </td>
              <td><MDBNavLink
                active={segment === 'detail'}
                activeClassName="activeClass">
                <Navigate to="detail">
                  <button>Detail</button>
                </Navigate>
              </MDBNavLink></td>
            </tr>
            <tr>
              <td>3</td>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
              <td>
                <MDBModalBody>
                  <div>
                    <Select id="3" name="kategori" bind:value={formData.c}>
                      <option value="Request">Request</option>
                      <option value="On Progress">On Progress</option>
                      <option value="Done" >Done</option>
                    </Select>
                  </div>
                </MDBModalBody>
              </td>
              <td>
                <MDBNavLink
                active={segment === 'detail'}
                activeClassName="activeClass">
                <Navigate to="detail">
                  <button>Detail</button>
                </Navigate>
              </MDBNavLink>
              </td>
                
            </tr>
          </MDBTableBody>
        </MDBTable>
        
      </MDBCardBody>
    </MDBCard>
  </MDBCol>
</MDBRow>
