<script>
    import MDBCard from 'mdbsvelte/src/MDBCard.svelte';
    import MDBCardBody from 'mdbsvelte/src/MDBCardBody.svelte';
    import MDBRow from 'mdbsvelte/src/MDBRow.svelte'
    import MDBCol from 'mdbsvelte/src/MDBCol.svelte'
    import MDBTable from 'mdbsvelte/src/MDBTable.svelte'
    import MDBTableHead from 'mdbsvelte/src/MDBTableHead.svelte'
    import MDBTableBody from 'mdbsvelte/src/MDBTableBody.svelte'
    import MDBView from 'mdbsvelte/src/MDBView.svelte'
  
  </script>
  
  <MDBRow>
    <MDBCol md="12">
      <MDBCard class="mt-5">
        <MDBView class="gradient-card-header blue darken-2">
          <h4 class="h4-responsive text-white">Halaman Tiket</h4>
        </MDBView>
        <MDBCardBody>
          <button>Add Data</button>
          <h3 class="mt-5 text-left"><strong>NAMA USER(otomatis diganti)</strong></h3>
          <p>Tabel data tiket</p>
          <MDBTable responsive>
            <MDBTableHead color="pink" textWhite>
              <tr>
                <th>Tiket No.</th>
                <th>Report by</th>
                <th>Assign to</th>
                <th>Subject</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </MDBTableHead>
            <MDBTableBody>
              <tr>
                <td>1</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td><button>request</button></td>
                <td><button>detail</button></td>
  
              </tr>
              <tr>
                <td>2</td>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td><button>onprogress</button></td>
                <td><button>detail</button></td>
              </tr>
              <tr>
                <td>3</td>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
                <td><button>closed</button></td>
                <td><button>detail</button></td>
              </tr>
            </MDBTableBody>
          </MDBTable>
          
        </MDBCardBody>
      </MDBCard>
    </MDBCol>
  </MDBRow>
  