<script>
  import MDBBtn from 'mdbsvelte/src/MDBBtn.svelte';
  import MDBCard from 'mdbsvelte/src/MDBCard.svelte';
  import MDBCol from 'mdbsvelte/src/MDBCol.svelte';
  import MDBContainer from 'mdbsvelte/src/MDBContainer.svelte';
  import MDBInput from 'mdbsvelte/src/MDBInput.svelte';
  import MDBRow from 'mdbsvelte/src/MDBRow.svelte';
  import {Navigate} from 'svelte-router-spa';
  import MDBCardBody from 'mdbsvelte/src/MDBCardBody.svelte';
  import MDBIcon from 'mdbsvelte/src/MDBIcon.svelte'
  import MDBTable from 'mdbsvelte/src/MDBTable.svelte'
  import MDBTableHead from 'mdbsvelte/src/MDBTableHead.svelte'
  import MDBTableBody from 'mdbsvelte/src/MDBTableBody.svelte'
</script>


<MDBContainer fluid>
  <MDBRow>
    <div class="container">
      <MDBCol md="6">
        <MDBCard>
          <div class="header pt-3 peach-gradient">
            <MDBRow class="d-flex justify-content-center">
              <h3 class="white-text mb-3 pt-3 font-weight-bold">
                Login
              </h3>
            </MDBRow>
            <MDBRow class="mt-2 mb-3 d-flex justify-content-center">
              <a href="#!" class="logo-wrapper waves-effect">
                <img alt="RAM Logo" class="img-fluid" src="RAMlogo.png" />
              </a>
            </MDBRow>
          </div>
          <MDBCardBody class="mx-4 mt-4">
            <MDBInput label="Masukkan Email" group type="text" validate/>
            <MDBInput
              label="Masukkan Password"
              group
              type="password"
              validate
              containerClass="mb-0"
            />
            
            <MDBRow class="d-flex align-items-center mb-4 mt-5">
              <MDBCol md="5" class="d-flex align-items-start">
                <div class="text-center">
                  <Navigate to="home">
                  <MDBBtn
                    color="red"
                    rounded
                    type="button"
                    class="z-depth-1a"
                  >
                    Masuk
                  </MDBBtn>
                </Navigate>
                </div>
              </MDBCol>
            </MDBRow>
          </MDBCardBody>
          <MDBCol class="d-flex align-items-center">
            <MDBTable responsive>
              <MDBTableHead color="danger-color">
                <tr>
                  <th>Username</th>
                  <th>Password</th>
                  <th>Hak Akses</th>
                </tr>
              </MDBTableHead>
              <MDBTableBody>
                <tr>
                  <td>user@go.com</td>
                  <td>user</td>
                  <td>user</td>
                </tr>
                <tr>
                  <td>user2@go.com</td>
                  <td>user</td>
                  <td>user</td>
                </tr>
                <tr>
                  <td>gesid@go.com</td>
                  <td>gesid</td>
                  <td>tehnical</td>
                </tr>
                <tr>
                  <td>support@go.com</td>
                  <td>support</td>
                  <td>tehnical</td>
                </tr>
                <tr>
                  <td>network@go.com</td>
                  <td>network</td>
                  <td>tehnical</td>
                </tr>
                <tr>
                  <td>admin@go.com</td>
                  <td>admin</td>
                  <td>admin</td>
                </tr>
              </MDBTableBody>
            </MDBTable>

            
          </MDBCol>
        </MDBCard>
        
      </MDBCol>
      
    </div>
    
    
  </MDBRow>
</MDBContainer>

<style>
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }
</style>
