<script>
  export let segment;

  import MDBCard from 'mdbsvelte/src/MDBCard.svelte';
  import MDBCardBody from 'mdbsvelte/src/MDBCardBody.svelte';
  import MDBRow from 'mdbsvelte/src/MDBRow.svelte'
  import MDBCol from 'mdbsvelte/src/MDBCol.svelte'
  import MDBTable from 'mdbsvelte/src/MDBTable.svelte'
  import MDBTableHead from 'mdbsvelte/src/MDBTableHead.svelte'
  import MDBTableBody from 'mdbsvelte/src/MDBTableBody.svelte'
  import MDBView from 'mdbsvelte/src/MDBView.svelte'
  import MDBBtn from 'mdbsvelte/src/MDBBtn.svelte'
  import MDBModal from 'mdbsvelte/src/MDBModal.svelte'
  import MDBModalBody from 'mdbsvelte/src/MDBModalBody.svelte'
  import MDBModalHeader from 'mdbsvelte/src/MDBModalHeader.svelte'
  import MDBInput from 'mdbsvelte/src/MDBInput.svelte'
  import MDBNavLink from 'mdbsvelte/src/MDBNavLink.svelte';
  import {Navigate} from 'svelte-router-spa';
  import MDBDropdown from 'mdbsvelte/src/MDBDropdown.svelte'
  import MDBDropdownItem from 'mdbsvelte/src/MDBDropdownItem.svelte'
  import MDBDropdownMenu from 'mdbsvelte/src/MDBDropdownMenu.svelte'
  import MDBDropdownToggle from 'mdbsvelte/src/MDBDropdownToggle.svelte'

  import { onMount } from 'svelte';
	import Select from './Select.svelte';
    import Detail from './detail.svelte';
	let formData = {};
	
	onMount(() => {
		
		formData.kategori = "Pilih Kategori";
		
	});


  let state = {
    modal1: false,
    modal2: false,
    modal3: false,
    modal4: false,
    modal5: false,
    modal6: false,
    modal7: false,
    modal8: false,
    modal9: false,
    modal10: false,
    modal11: false,
    modal12: false,
    modal13: false
  };

  function toggle(nr) {
    let modalName = 'modal' + nr;
    state[modalName] = !state[modalName]
  }

  let files;

	$: if (files) {
		for (const file of files) {
			console.log(`${file.name}: ${file.size} bytes`);
		}
	}

</script>

<MDBRow>
  <MDBCol md="12">
    <MDBCard class="mt-5">
      <MDBView class="gradient-card-header blue darken-2">
        <h1 class="h4-responsive text-white">Halaman Admin</h1>
      </MDBView>
      <MDBCardBody>
        <!-- <MDBBtn color="primary">Tambah Keluhan</MDBBtn> -->
        
        
        <MDBBtn color="primary" size="lg" on:click={()=>toggle(9)}>Tambah Data </MDBBtn>
        <MDBModal toggle={()=>toggle(9)} isOpen={state.modal9}>
          <MDBModalHeader>Modal Title</MDBModalHeader>
          <MDBModalBody class="text-left">
            <div class="grey-text">
              <Select id="kategori" name="kategori" bind:value={formData.kategori}>
                <option value="Gesid">Gesid</option>
                <option value="IT Support and Hardware">IT Support and Hardware</option>
                <option value="IT Network">IT Network</option>
                <option value="Security">Security</option>
              </Select>
              
              <MDBInput label="Subject"  group type="text" validate error="wrong"
                        success="right"/>
              <MDBInput label="Pesan"  group type="text" validate error="wrong"
                        success="right"/>
              <label for="many">Upload multiple files of any type:</label>
              <input
                bind:files
                id="many"
                multiple
                type="file"
              />
                        
              {#if files}
                <h2>Selected files:</h2>
                {#each Array.from(files) as file}
                  <p>{file.name} ({file.size} bytes) </p>
                {/each}
              {/if}
                        
            </div>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit nisi quo provident fugiat reprehenderit nostrum quos...</span>
            <MDBBtn color="primary-color" on:click={()=>toggle(9)}>Save</MDBBtn>
            <MDBBtn color="secondary" on:click={()=>toggle(9)}>Cancel</MDBBtn>
          </MDBModalBody>
        </MDBModal>


        <h3 class="mt-5 text-left"><strong>NAMA USER(otomatis diganti)</strong></h3>
        <p>Tabel data tiket</p>
        <MDBTable responsive>
          <MDBTableHead color="pink" textWhite>
            <tr>
              <th>Nama Lengkap</th>
              <th>Email</th>
              <th>Kategori</th>
              <th>Subject</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </MDBTableHead>
          <MDBTableBody>
            <tr>
              <td>1</td>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td><button>Status</button></td>
              <td><MDBNavLink
                active={segment === 'detail'}
                activeClassName="activeClass">
                <Navigate to="detail">
                  <button>Detail</button>
                </Navigate>
              </MDBNavLink>
            </td>

            </tr>
            <tr>
              <td>2</td>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
              <td>
                <button>Status</button>
              </td>
              <td><MDBNavLink
                active={segment === 'detail'}
                activeClassName="activeClass">
                <Navigate to="detail">
                  <button>Detail</button>
                </Navigate>
              </MDBNavLink></td>
            </tr>
            <tr>
              <td>3</td>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
              <td>
                <button>Status</button>
              </td>
              <td>
                <MDBNavLink
                    active={segment === 'detail'}
                    activeClassName="activeClass">
                    <Navigate to="detail">
                      <button>Detail</button>
                    </Navigate>
                  </MDBNavLink>
              </td>
            </tr>
          </MDBTableBody>
        </MDBTable>
        
      </MDBCardBody>
    </MDBCard>
  </MDBCol>
</MDBRow>
