<script>
  import MDBFooter from "mdbsvelte/src/MDBFooter.svelte";
  import MDBBtn from "mdbsvelte/src/MDBBtn.svelte";
  import MDBIcon from "mdbsvelte/src/MDBIcon.svelte";
</script>

<MDBFooter color="blue" class="text-center font-small darken-2 footer">
  <p class="footer-copyright mb-0 py-3 text-center">
    &copy; {new Date().getFullYear()} Copyright:
    Ruben Aqo Maryam
  </p>
</MDBFooter>
