<script>
  export let segment;
  export let isOpen = true;

  import MDBListGroup from 'mdbsvelte/src/MDBListGroup.svelte';
  import MDBListGroupItem from 'mdbsvelte/src/MDBListGroupItem.svelte';
  import MDBIcon from 'mdbsvelte/src/MDBIcon.svelte';
  import MDBNavLink from 'mdbsvelte/src/MDBNavLink.svelte';
  import {Navigate} from 'svelte-router-spa';
  import MDBDropdownMenu from 'mdbsvelte/src/MDBDropdownMenu.svelte'

  import MDBDropdown from 'mdbsvelte/src/MDBDropdown.svelte'
  import MDBDropdownItem from 'mdbsvelte/src/MDBDropdownItem.svelte'
  import MDBDropdownToggle from 'mdbsvelte/src/MDBDropdownToggle.svelte'

</script>

{#if isOpen}
  <div class="sidebar-fixed position-fixed">
    <a href="#!" class="logo-wrapper waves-effect">
      <img alt="RAM Logo" class="img-fluid" src="RAMlogo.png" />
    </a>
    <MDBListGroup class="list-group-flush">
      <MDBNavLink
        active={segment === 'tables'}
        activeClassName="activeClass">
        <Navigate to="table">
          <MDBListGroupItem>
            <MDBIcon icon="table" class="mr-3" />
            <span>Halaman User</span>
          </MDBListGroupItem>
        </Navigate>
      </MDBNavLink>

      <MDBNavLink
        active={segment === 'teknisi'}
        activeClassName="activeClass">
        <Navigate to="teknisi">
          <MDBListGroupItem>
            <MDBIcon icon="table" class="mr-3" />
            <span>Halaman Teknikal</span>
          </MDBListGroupItem>
        </Navigate>
      </MDBNavLink>

      <MDBNavLink
      active={segment === 'forms'}
      activeClassName="activeClass">
      <Navigate to="forms">
        <MDBListGroupItem>
          <MDBDropdown>
          <MDBIcon icon="table" class="mr-3" />
          <span>Daftar Tiket</span>
        </MDBDropdown>
      </MDBListGroupItem>


        <!-- <MDBListGroupItem>
          <MDBIcon icon="file" class="mr-3" />
          <span>Forms</span>
        </MDBListGroupItem> -->

      </Navigate>
    </MDBNavLink>

    <MDBNavLink
    active={segment === 'forms'}
    activeClassName="activeClass">
    <Navigate to="profile">
      <MDBListGroupItem>
        <MDBIcon icon="user" class="mr-3" />
        <span>Halaman Admin</span>
      </MDBListGroupItem>
    </Navigate>
  </MDBNavLink>
  
    </MDBListGroup>
  </div>
{/if}
