<script>
  import MDBNavbar from "mdbsvelte/src/MDBNavbar.svelte";
  import MDBNavbarBrand from "mdbsvelte/src/MDBNavbarBrand.svelte";
  import MDBNavbarNav from "mdbsvelte/src/MDBNavbarNav.svelte";
  import MDBNavbarToggler from "mdbsvelte/src/MDBNavbarToggler.svelte";
  import MDBCollapse from "mdbsvelte/src/MDBCollapse.svelte";
  import MDBNavItem from "mdbsvelte/src/MDBNavItem.svelte";
  import MDBNavLink from "mdbsvelte/src/MDBNavLink.svelte";
  import MDBDropdown from 'mdbsvelte/src/MDBDropdown.svelte'
  import MDBDropdownItem from 'mdbsvelte/src/MDBDropdownItem.svelte'
  import MDBDropdownMenu from 'mdbsvelte/src/MDBDropdownMenu.svelte'
  import MDBDropdownToggle from 'mdbsvelte/src/MDBDropdownToggle.svelte'

  let collapse = false;
  function toggle() {
    collapse = !collapse
  }

  function handleUpdate(event) {
    collapse = event.detail.isOpen;
  }

</script>

<MDBNavbar class="flexible-navbar" light expand="md">
  <MDBNavbarBrand href="/">
    <strong>RAM</strong>
  </MDBNavbarBrand>
  <MDBNavbarToggler on:click = { toggle } />
  <MDBCollapse isOpen = { collapse } navbar expand="md" on:update={handleUpdate}>
    <MDBNavbarNav left>
    </MDBNavbarNav>
    <MDBNavbarNav right>
      <MDBNavItem>
        <MDBDropdown>
          <MDBDropdownToggle caret >Tekan Disini Untuk Keluar</MDBDropdownToggle>
          <MDBDropdownMenu>
            <MDBDropdownItem href="/">Logout</MDBDropdownItem>
          </MDBDropdownMenu>
        </MDBDropdown>
      </MDBNavItem>
      
    </MDBNavbarNav>
  </MDBCollapse>
</MDBNavbar>
